pytube
pillow
spotipy
aiohttp
aiofiles
pyrogram==1.4.16
tgcrypto
python-dotenv
py-tgcalls==0.8.6
youtube-search-python
https://github.com/yt-dlp/yt-dlp/archive/master.tar.gz 

git+https://github.com/asmsafone/downloader
